.logo-container{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
img {
    width: 100%;
    display: flex;
    align-items: center;
 
}
ul{
    padding-inline-start: 1px;
}