
.container-logo{
    box-shadow: 5px -5px 5px gray ;

}
.navbar li button:hover{
    box-shadow: 2px 2px 2px white ;
}
ul.navbar{
    list-style: none;
    display: flex;
    align-items: center;
  
}
a{
  text-decoration: none;  
  color: rgb(0, 0, 0);

}
.navbar li{
    width: fit-contents;
    margin: 5px;

    text-decoration: none;
    font-size: 20px;
    list-style: none;
    
}
header h1{
    color: white;
}
